<main>
    <h2>H E L L O !</h2>
    <p>Current date and time is: <strong><%= @time %></strong></p>
    <p>This file was edited: <strong><%= @file_c_time %></strong></p>
    <p><a href="/">Reload</a>
    <hr>
    <img src="/img/example-img.jpg">
</main>