<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>&#127820; Fruktparadiset</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>"> 
</head>
<body>
    <header>
        <h1 class="logo"><a href="/fruits">&#127820; Fruktparadiset</a></h1>
    </header>
    <nav>
        <ul>
            <li><a href="/fruits">Alla våra frukter</a></li>
            <li><a href="/fruits/new">Ny frukt</a></li>
        </ul>
    </nav>
    <hr>
    <%= yield %>
    <hr>
    <footer>
        <h4>Våra butiker</h4>
        <img src="/img/affaren.jpg">
    </footer>
</body>
</html>