<h2>Alla frukter i frukt-databasen</h2>

<dl>
<% @fruits.each do |fruit| %>
  <dt><a href="/fruits/<%= fruit['id']%>"><%= fruit['name'] %></a></dt>
  <dd>Tastiness: <%= fruit['tastiness'] %></dd>
<% end %>
</dl>